html {
    font-family: 'Overpass', sans-serif;
    font-style: italic;
    margin: 0;
}



body {
    background-color: #d41919;
    margin: auto;
    width: 100vw;
    z-index: 0;
   
}

.header {
    width: 100%;
    margin: 0;
    background-color: antiquewhite;
}

.breadcrumb {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    background-color:aqua;
}

#title {
   margin-top: 200px;
   margin-left: 100px;
   width: 300px;
    height: auto;
    position:absolute; 
    z-index: 1;
    color: rgb(171, 24, 24);

}

.main-container{
    width: 90vw;
    height: 500px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 10%;
}


h1 {
    padding: 0px;
    margin: 0;
    font-size: 40pt;
    font-weight: 900;
   
}

.overlay {
    margin-left: 100px;
    width: 400px;
    height: 100vh;
	transform: skew(-38deg);
	background:hsla(48, 66%, 46%, 0.855);
    position: absolute;
    z-index: 2;
    mix-blend-mode:hard-light;
}