html {
    font-family: 'Overpass', sans-serif;
    font-style: italic;
    font-size: 16px;
    margin: 0;
    background-color: black;
}



body {
    margin: auto;
    width: 100vw;
    z-index: 0;
    overflow: hidden;
    color: white;
}

.gallery-container{
    width: 90vw;
    height: 500px;
    margin: auto;
    margin-top: 10vh;
}


.gallery-content {
    padding-top: 150px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.gallery-content > * {
    display: flex;
    gap:1rem;    
}


.projectLink {
    flex: 1;

}


.header {
    width: 100%;
    margin: 0;
    top: 0;
    overflow: hidden;
    position:absolute
}
.header-content {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 20px;


}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.breadcrumb {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    
}



#title {
   margin-top: 0;
   width: auto;
    height: auto;
    position:absolute; 
    z-index: 1;
    color: rgb(246, 241, 245);
    mix-blend-mode:difference;

}


h1 {
    padding: 0px;
    margin: 0;
    font-size: 8rem;
    font-weight: 900;
   
}

.summary-content {
    padding-top: 150px;
    display: flex;
}

.summary-left {
  
    padding: 10px 10px 10px 10px;
    margin: 20px;
    width: 40%;
    font: white;
   
}

img {
    max-width: 100%;
    height: auto;
}
.thumbnail-right {
    background-color: rgb(255, 255, 255);
    padding: 10px 10px 10px 10px;
    margin: 20px;
    width: 40%;
    font: white;
    overflow: hidden;
   
}

.videoPlayer {
    padding:56.25% 0 0 0;
    position:relative;
}

iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 500px;
    opacity:50;
}


.overlay {
    margin-left: 100px;
    width: 400px;
    height: 100vh;
	transform: skew(-38deg);
	background:hsl(0, 0%, 100%);
    position: absolute;
    z-index: 2;
    mix-blend-mode:hard-light;
}

@media (max-width:478px)
{

    .gallery-content > * {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
  
        gap:1rem;    
    }

    .header-content {
        background-color: yellowgreen;
    
    }
    .breadcrumb {
        background-color: violet;
        display: none;
    }

    .titleContainer > * {
        font-size: 4rem;
        padding: 0;
        margin: 0;
    }

}