html {
   /* font-family: 'Overpass', sans-serif; */
   
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Teko', sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: black;
}



body {
    margin: auto;
    width: 100vw;
    z-index: 0;
    overflow: hidden;
    color: white;
}

.main-container{
    max-width: 90vw;
    margin:10vh auto 10vh auto;
}


.gallery-content {
    padding-top: 150px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.gallery-content > * {
    display: flex;
    gap:1rem;    
}


.projectLink {
    flex: 1;

}


.header {
    width: 100%;
    margin: 0;
    top: 0;
    overflow: hidden;
    position:absolute;
    z-index: 5;
}
.header-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.1rem;


}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.breadcrumb {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    
}



#title {
    position:absolute; 
    z-index: 1;
    color: rgb(246, 241, 245);
    mix-blend-mode:difference;

}


h1 {
    padding: 0px;
    margin: 0;
    font-size: 8rem;
    font-weight: 900;
   
}
/* Summary Content */
.summary-content {
    padding-top: 50px;
    display: flex;
}

.summary-block {
    padding-top: 150px;
    display: flex;
}

.summary-left {
  
    padding: 10px 10px 10px 10px;
    margin: 20px;
    width: 40%;
    font: white;
   }

.summary-right {
    width: 40%;
    font: white;
    overflow: hidden;
   }

/* Summary Content END */

/* Reel Page*/

.content-block {
    background-color: aqua;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}

/* Media Content */
   img {
    max-width: 100%;
    height: auto;
}

.videoPlayer {
    display: flex;
}

iframe {
    padding-top: 250px;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 500px;
    opacity:50;
}

/* Media Content End */


.overlay {
    margin-left: 100px;
    width: 400px;
    height: 100vh;
	transform: skew(-38deg);
	background:hsl(0, 0%, 100%);
    position: absolute;
    z-index: 2;
    mix-blend-mode:hard-light;
}

 /* Big screen Media queries */
@media screen and (min-width: 1400px) {
    .main-container {
      width: 1370px;
    }
  }
  @media screen and (min-width: 1600px) {
    .main-container {
      width: 1370px;
    }
  }
  @media screen and (min-width: 1900px) {
    .main-container {
      width: 1670px;
    }
  }
  /* Big screen Media queries End */


  /* Tabloid Media Query */
@media (max-width:810px)
{
    .gallery-content {
        padding-top: 4rem;
    }

    .gallery-content > * {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap:1rem;    
    }

    .header-content {
        background-color: yellowgreen;
    
    }
    .breadcrumb {
        background-color: violet;
        display: none;
    }

    .titleContainer > * {
        font-size: 3rem;
        padding: 0;
        margin: 0;
    }

    /* Summary Content Begins*/
    .summary-content {
    display: flex;
    }

    .summary-block {
    display: flex;
    }

    .summary-left {
    padding: 10px 10px 10px 10px;
    margin: 20px;
    width: 40%;
    font: white;
   }

    .summary-right {
  
    padding: 10px 10px 10px 10px;
    margin: 20px;
    width: 40%;
    font: white;
    overflow: hidden;
   }
   /* Summary Content */

/* Tabloid Media END */


}

 /* Tabloid Media Query END */

@media (max-width:478px)
{
    .main-container {
        margin: 8vh auto 8vh auto;
     
        
    }
    .gallery-content {
        padding-top: 3rem;
    }
    .gallery-content > * {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap:0.1rem;    
    
    }

    h1 {
        padding: 0;
        margin: 0;
    }
    .header-content {
        background-color: yellowgreen;
       
    
    }
    .breadcrumb {
       
        display: none;
    }

    .titleContainer > * {
        font-size: 2rem;
        display: flex;
        justify-content: center;
     
    }

      /* Summary Content Begins*/
      .summary-content {
        width: 90vw;
        display: flex;
        }
    
        .summary-block {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        }
    
        .summary-left {    
        font: white;
        width: auto;
       }
    
        .summary-right {
        width: 90vw;;
        font: white;
        overflow: hidden;
       }
       /* Summary Content */

}